*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
} 

.nav-bar{
background:transparent;
display: flex;
background-image: url("5.jpg");
}

.logo{
text-shadow:2px 2px black;
font-size: 18px;
align-items: center;
justify-content: space-around;
font-family:font-family: 'Poppins', sans-serif;
color:red;
margin-left:10px;
margin-top: 10px;
}

.nav-link{
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 200px;
margin-top: 0px;
}

.nav-link li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left:40px;
    padding-right: 40px;
    list-style: none;
    font-size: 18px;
    font-family: 'Langar', cursive;
    margin-top: 5px;
    margin-bottom: 10px;;
}
 .nav-bar li a{
     text-decoration: none;
     color:black;
     align-items: center;
     
    }

    .nav-bar li a:hover{
        color:white;
        transition: 1s ease-in;
    }
    
    

body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    background-image: url("3.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 .p{
     font-size: 40px;
     font-family: 'Parisienne', cursive;
     color: rgb(255, 153, 0);
     margin-left: 25%;
 }
  .sec2{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10%;
  }
  
  .para{
      color: white;
      font-size: 80px;
      font-family: 'Fredoka One', cursive;
      text-shadow: 2px 2px black;
  }

  .b1{
      font-size: 15px;
    color:white;
    background-color: rgb(255, 115, 0);
    align-items: center;
    padding:20px;
    border-radius: 50px;
    margin-left:35%;
    border: none;
    font-family: 'Fredoka One', cursive;
    opacity: 0.7;
  }
  .b1:hover{
     color:black;
     opacity: 1;
  }
  
  .social{
      display:flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 80px;
  }

  .fa {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50%;
  }
  .fa-facebook {
    background-color: transparent;
    color: black;
    border-radius: white;
  }
  .fa-twitter {
    background-color: transparent;
    color: black;
  }
  .fa-snapchat-ghost {
    background-color: transparent;
    color: black;
  }
  .fa-youtube {
    background-color: transparent;
    color: black;
  }
    @media all and (max-width: 1100px) {
        .nav-link{
            display:inline;
            align-items: right;
            justify-content:space-around;
           
            margin-top: 0px;
            }
    }